{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">

      <link rel="stylesheet" type="text/css" href="{% static 'apple/detail.css' %}">
    <title></title>
  </head>
  <body>
    <header>Selling/Buying  </header>
    <div class="image">
    <img  src="{{ item.userfile.url}}" >

  <h1> {{item.titleline}} </h1>
  <h3>{{item.price}}won </h3>
  <h5> {{item.get_region_display}} </h5>
  <p> {{item.body}}</p>
  <p> views: {{item.hit}}</p>
  <hr>

  {% if request.user.get_username == item.author %}
  <span>
  <form action="{% url 'edit' item.id %}">
    {% csrf_token %}
    <input type="submit" value="edit">
  </form>
  <form onsubmit = "return confirm('Do you really want to delete?')" method="post" action="{% url 'delete' item.id %}">
    {% csrf_token %}
    <input class='delete'  type="submit" value="delete">
  </form>
</span>
{% endif %}

  </div>

  <footer>
    <p> Selling/Buying  </p>
    <p> Email: jang0065@umn.edu </p>
  </footer>
    <script src="{% static 'apple/detail.js' %}"></script>
  </body>
</html>
