{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'apple/style.css' %}">
  <title></title>
</head>
<body>
  <header>Selling/Buying 
    {% if user.is_authenticated %}
    <p class="header" style="margin-left:auto;"> Welcome, {{user.get_username}}!  </p>
    <a  href="{% url 'account:logout' %}" style="font-size: 20px; margin-left: 5px;"> Log out </a>
    {% else %}
    <a  href="{% url 'account:login' %}" style="margin-left: auto;"> Sign In </a>
    <a  href="{% url 'account:signup' %}" style="margin-left:5px"> Sign Up </a>
    {% endif %}
  </header>

  <form method="POST" action="">
    {% csrf_token %}
  <input type="text" name="userinput">
  <button type="submit"> Search </button>
</form>
<p>{{items|length}}  postings in total</p>
  <table>
    <tr>
      <th>Number</th>
      <th style="width:50%">Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>View Counts</th>
    </tr>
    {% for item in items %}

    <tr>
      <td>{{item.id}}</td>
      <td style="width:50%"><span class="what">[{{item.get_what_display}}]</span><span class="region">{{item.get_region_display}}</span><a href="{% url 'apple:detail' item.id %}">{{item.titleline}} </a></td>
      <td>{{item.author}}</td>
      <td>{{item.date|date:"F d"}}</td>
      <td>{{item.hit}}</td>
    </tr>
    {% endfor %}
  </table>
  <div>

      {% if userinput is None %}
    <span>
      {% if items.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ items.previous_page_number }}">previous</a>
      {% endif %}
    <span>
        Page {{ items.number }} of {{ items.paginator.num_pages }}.
    </span>

      {% if items.has_next%}
      <a href="?page={{ items.next_page_number }}">next</a>
      <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    <span>

      {% else %}
      <span>
        {% if items.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}
      <span>
          Page {{ items.number }} of {{ items.paginator.num_pages }}.
      </span>

        {% if items.has_next%}
        <a href="?page={{ items.next_page_number }}">next</a>
        <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      <span>

      {% endif %}

  </div>

  <form action="/apple/new" >
    <input type=
    {% if user.is_authenticated %}
    "submit"
    {% else %}
    "button" onclick ="alert('Login Required');"
    {% endif %}
    value="Post">
  </form>

  <footer>
    <p> Selling/Buying  </p>
    <p> Email: jang0065@umn.edu </p>
  </footer>

</body>
</html>
